* {
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 100%;
    height: 30px;
    margin: 0;
    background-color: white;
    position: fixed;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
}
.left img {
    height: 20px;
    margin-top:10px;
    padding: 5px;
}
.left a {
   text-decoration: none;
   color: #000000;
   padding-left: 20px;
}
.logo {
   height: 26px;
   width: 189px;
   margin-left: 300px; 
}
.left button {
    float: right; 
    width: 140px;
    height: 30px;
    background-color: #326891;
    cursor: pointer;
}
.right button {
    width: 140px;
    height: 30px;
    background-color: #326891;
    cursor: pointer;
    float: right;
}

.main {
    height: auto;
    width: 100%;
}
h2 {
    margin-left: 440px;
    position: relative;
}
.main img {
    width: 920px;
    height: 496px;
    margin-left: 150px;   
}
.main p {
    margin-left: 150px;
    margin-top: 0;
    margin-right: 150px;
}
.author {
    margin-left: 300px;
}
.author a {
    color: black;
}
.pics {
    float: right;
    margin-right: 310px;
    margin-left: 300px;
}
.writings {
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    
}
.writings a {
    font-size: small;
}
.snippet {
    padding: 40px;
    text-align: center;
    font-weight: bold;
    
}
.snippet hr {
    margin-left: 40%;
    margin-right: 40%;
}
.snippet a {
    text-decoration: none;
    color: blue; 
     
}
.line-divider {
    margin-left: 8%;
    margin-right: 28%;
}
.space {
    padding-left: 100px;
}
.pick {
    padding-left: 110px;
}
.inflation {
    margin-left: 150px;
}
.inflation h2 {
    margin-right: 950px;
}
.satelite-pic img {
    width: 600px;
    height: 400px;
    cursor: pointer;
}
.comments {
    margin: 30px;
}
.comments button {
    width: 300px;
    height: 40px;
    background-color: #326891;
    cursor: pointer;
}
.comments img {
    float: right;
    margin: 2px;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 20px;
    margin-left: 20px;
    justify-content: space-evenly;
    
}
.grid-container figure {
    display: flex;
    flex-direction: column;
}
.grid-container figure img {
    height: 176px;
    width: 264px;
    cursor: pointer;
}
.editors {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}
.editors img {
    width: 246px;
    height: 176px;
    cursor: pointer;
}
.right-section {
    float: right;
    margin-top: 0;
    margin-right: 20px;
    width: 25%;
    height: auto;
}
.right-section h3 {
    cursor: pointer;
}
footer {
    padding-bottom: 40px;
    
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space-between img {
    margin-top: 10px;
    margin-left: 40px;
}
#footer-directory {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin-top: 10px;
}
ul {
    list-style-type: none;
}
#categories {
    margin-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
}
.category-links {
    flex-flow: row nowrap;
    width: 20%;
    box-sizing: border-box;
}.category-links p {
    font-weight: bold;
    line-height: 24px;
}
.category-links p {
    font-weight: bold;
    line-height: 24px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
}
.category-links li {
    font-size: 15px;
    line-height: 20px;
}

#footer-company {
    border-left-width: 1px;
    border-color: white;
    box-sizing: border-box;
    padding-left: 15px;
}
#footer-company li {
    line-height: 20px;
    font-size: 11px;
}
#footer-company hr {
    margin: 10px 0;
}
ul 
#subscription {
    font-weight: bold;
    padding-bottom: 10px;
}
#footer-secondary ul {
    font-size: 15px;
    line-height: 24px;
}
#subscription li {
    font-size: 15px;
    line-height: 20px;
}

#footer-secondary ul {
    padding: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
#footer-secondary li {
    padding: 8px;
}
.heavy-divider {
    margin-left: 3%;
    margin-right: 3%;
}